<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Add Question</h3>
        </div>
        <div class="table-responsive px-4">
          <!-- Custom code starts here -->
          <div class="card-body">
            <form >
              <section *ngFor="let address of Values; let i = index;">
              <div class="row">
                <div class="form-group col-6">
                  <label for="ccmonth">Domain Type : </label>
                  <select class="form-control" id="ccmonth" value="{{address.Domain}}" required #domain>
                    <option>Apptitute</option>
                    <option>Technical</option>
                    <option>Verbal</option>
                  </select>
                </div>

                <div class="form-group col-6">
                  <label for="ccmonth">Difficulty Level : </label>
                  <select class="form-control" id="ccmonth" value="{{address.Level}}" required #Level>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                Enter The Question :
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <textarea name="Question" placeholder="Enter the Question" class="form-control span6" value="{{address.Question}}" required
                    #question></textarea>
                </div>
              </div>

              <form #addressForm="ngForm">
                <section *ngFor="let Option of Options; let j = index;">
                  <div class="row">
                    <div class="col-6">
                      <h6>Option {{j + 1}} :</h6>
                    </div>
                    <div class="col-6 text-right">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-7">
                      <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="Option.option" name="option{{Option.option}}" value="{{Option.option}}" />
                      </div>
                    </div>
                    <div class="form-check">
                      <!-- <label class="form-check-label">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value=i
                          (change)="Onpressed(i)">Answer
                      </label> -->
                      <div class="custom-control  custom-checkbox mb-3">
                        <div class="row">
                          <div class="col-sm">
                            <label class="form-check-label">
                              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value=i
                                (change)="Onpressed(j)">Answer
                            </label>
                            
                          </div>
                          <div class="col-sm">
                            <button type="button" class="btn btn-warning btn-sm"
                              (click)="removeAddress(j)">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <div class="row-7">
                  <br>
                  <button type="button" class="btn btn-primary mb-2" (click)="addAddress()">Add Option</button>
                </div>
              </form>
              <br>
                <button type="submit" class="btn btn-success" (click)="onAddData(domain.value,Level.value,question.value)">Save</button>
              </section>
            </form>
          </div>
          <!-- Custom code ends here -->
        </div>
        
      </div>
    </div>
  </div>
</div>